/* body{
   background-color: hsl(0, 1%, 32%);
} */

    .container {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
        background-color: #f2f2f2; /* Adjust the background color here */
      }
      
      /* Rest of the CSS code remains the same */
      
  
  
  h1 {
    color:#ff0000;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    width: 70%;
  }
  
  button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  li span {
    margin-right: 10px;
  }
  
  .completed {
    text-decoration: line-through;
    opacity: 0.5;
  }
  